<!DOCTYPE html>
<html>
<head>
	<title>Admin New Policy</title>
</head>
<body>

	<h1>Create a new policy</h1>

	<form method="POST" action="/admin/newpolicy/create">
		<p>Flight Info</p>
		Number: <input type="number" name="number">
		<!-- Departure Date: <input type="date" name="departureDate"> -->
		<select name="bondId">
			<%for (let i = 0; i < bonds.length; i++) {%>
				<option value="<%=bonds[i]._id%>"><%=bonds[i].bondName%></option>
			<%}%>
		</select>
		<button>Create Policy</button>
	</form>

</body>
</html>