<!DOCTYPE html>
<html>
<head>
	<title>Create Admin Page</title>
</head>
<body>

	<h1>Create Admin</h1>

	<form method="POST" action="/admin/register">
		Username: <input type="text" name="username">
		Password: <input type="password" name="password">
		<button>Create Admin</button>
	</form>
</body>
</html>