<!DOCTYPE html>
<html>
<head>
	<title>Admin Show Page</title>
</head>
<body>

	<h1>Admin Show Page</h1>

	<ul>
		<%for (let i = 0; i < bonds.length; i++) {%>
			<li><%=bonds[i]%></li>
		<%}%>
	</ul>

	<a href="/admin/newbond">Create new bond</a><br/>
	<a href="/admin/newpolicy">Create new policy</a>
</body>
</html>