<!DOCTYPE html>
<html>
<head>
	<title>Traveler Home Page</title>
</head>
<body>

	<h1>Traveler Home Page</h1>

	<form>
		Flight Number: <input type="Number" name="flightNumber">
		Date: <input type="date" name="date">
		<button>Search</button>
	</form>
</body>
</html>