<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/travel.css">
	<title>Traveler Home Page</title>
</head>
<body>

	<div class="page">
		<div class="home-title">
			<h1>Flight Delay</h1>
		</div>

		<div class=form-field-home>
			<form method="GET" action="/traveler/<%=traveler._id%>/new">
				<div class="container">
					<p>Flying is stressful enough. Why let delayed or cancelled flights give you more? Check to see if your flight is eligible for reinsurance, and get what you deserve.</p>

					<p>*The third-party Flight Tracking API we use is currently deprecated, and can only retrieve flight information for past flights from Henri Coandă International Airport on Blue Air Airlines.*</p>
					<div class="flightInput">
						<div class="flightNum">Flight Number:</div>
						<div class="flightNumInput"><input type="number" name="number"></div>
						<div class="searchDiv">
							<button class="searchButton">Search</button>
						</div>
					</div>
					<span class="home-message"><%=message%></span>
				</div>
			</form>


		</div>
		
			<div class="home-bottom">
				<!-- <form class="home-forms" method="GET" action="/">
					<div class="home-buttons">
						<button>Home Page</button>
					</div>
				</form>
 -->
				<form class="home-forms" method="POST" action="/traveler/logout">
					<div class="home-buttons">
						<button>Logout</button>
					</div>
				</form>
			</div>
	</div>



	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>