<!DOCTYPE html>
<html>
<head>
	<title>Traveler Home Page</title>
</head>
<body>

	<h1>Traveler Home Page</h1>

	<form method="GET" action="/traveler/<%=traveler._id%>/new">
		Flight Number: <input type="Number" name="flightNumber">
		Date: <input type="date" name="date">
		<button>Search</button>
	</form>

	<form method="POST" action="/traveler/logout">
		<button>Logout</button>
	</form>
</body>
</html>