<!DOCTYPE html>
<html>
<head>
	<title>Traveler Login Page</title>
</head>
<body>

	<h1>Traveler Login Page</h1>

	<form action=/traveler/login method="POST">
		<p>Log in to your account</p>
		
	</form>
</body>
</html>