<!DOCTYPE html>
<html>
<head>
	<title>Traveler Login Page</title>
</head>
<body>

	<h1>Traveler Login Page</h1>

	<form action=/traveler/login method="POST">
		<p>Log in to your account</p>

		Email: <input type="text" name="email" placeholder="email">
		Password: <input type="password" name="password" placeholder="password">
		<button>Log In</button>

		<p><a href="/traveler/register">Need an account? Click Here!</a></p>
		
	</form>
</body>
</html>