<!DOCTYPE html>
<html>
<head>
	<title>Traveler Create Page</title>
</head>
<body>

	<h1>Traveler Create Page</h1>

	<%=flightData[0].flightNumber%>

	<form method="GET" action="/traveler/<%=traveler._id%>">
		
		<button>Purchase</button>
	</form>
</body>
</html>