<!DOCTYPE html>
<html>
<head>
	<title>Traveler Register Page</title>
</head>
<body>

	<h1>Traveler Register Page</h1>

	<form action=/traveler/register method="POST">
		<p>Register an account</p>

		Email: <input type="text" name="email" placeholder="email">
		Password: <input type="password" name="password" placeholder="password">
		<button>Register Now!</button>

		<p><a href="/traveler/login">Already have an account? Click Here!</a></p>
		
	</form>
</body>
</html>