<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" type="text/css" href="/css/homepage.css">
    </head>
    <body>

    	<div class="home-page">
    		<div class="title">
		        <h1>Home Page</h1>
    		</div>

    		<div class="allHomeButtons">
	    		<form method="GET" action="/traveler/login">
	    			<button class="homepage-button">Traveler</button>
	    		</form>

	    		<form method="GET" action="/investor/login">
	    			<button class="homepage-button">Investor</button>
	    		</form>

	    		<form method="GET" action="/admin/login">
	    			<button class="homepage-button">Admin</button>
	    		</form>
    			
    		</div>
    	</div>

    </body>
  
</html>