<!DOCTYPE html>
<html>
    <head>
        <title></title>
        
    </head>
    <body>
      
        <h1>Home Page</h1>

        <a href="/traveler/login">Traveler</a><br/>
        <a href="/investor/login">Investor</a><br/>
        <a href="/admin/login">Admin</a><br/>

    </body>
  
</html>