<!DOCTYPE html>
<html>
<head>
	<title>Investor Login Page</title>
</head>
<body>

  <h1>Investor Login Page</h1>

<form action="/investor/login" method="POST">
    Account Email: <input type="text" name="email" placeholder="Email Address"><br />
    Account Password: <input type="password" name="password" placeholder="Password"><br />
    <button>Login</button>
  </form>
  
</body>
</html>