<!DOCTYPE html>
<html>
<head>
	<title>Investor Create Page</title>
</head>
<body>

	<h1>Investor Create Page</h1>

	<form action="/investor/new" method="POST">
		Email: <input type="text" name="email" placeholder="Email Address"><br />
		Password: <input type="password" name="password" placeholder="Password"><br />
		<button>Create</button>
	</form>

  <h2>Already Have An Account?</h2>
  <a href="/investor/login">LOGIN</a>

</body>
</html>