<!DOCTYPE html>
<html>
<head>
	<title>Investor Show Page</title>
</head>
<body>

	<h1>Investor Overview Page</h1>

  <h2>Current Offerings</h2>

  <aside>Current Portfolio</aside>

  <a href="/investor/<%=investor._id%>/edit">Edit Account</a>
</body>
</html>